<?xml version="1.0"?>

<routeTable>
  <routes>
    <add name="Demo" url="{controller}/{action}/{id}">
      <defaults controller="Home" action="Index" id="Optional" />
      <constraints>
        <add name="custom" type="MvcRouteConfig.Web.CustomConstraint, MvcRouteConfig.Web">
          <params value="Hello world!" />
        </add>
      </constraints>
    </add>
  </routes>
</routeTable>