<?xml version="1.0"?>

<routeTable>
  <routes>
    <add name="Default" url="{controller}/{action}/{id}">
      <defaults controller="Home" action="Index" id="Optional" />
      <constraints>
        <add name="custom" type="MvcApplication.CustomConstraint, MvcApplication">
          <params value="Hello world!" />
        </add>
      </constraints>
    </add>
  </routes>
</routeTable>